{% extends 'osnova_spletnega_vmesnika.html' %} 
{% block main %}
<style>
	#customers {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	#customers td, #customers th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}
	
	#customers tr:nth-child(even){background-color: #f2f2f2;}
	
	#customers tr:hover {background-color: #ddd;}
	
	#customers th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	 
	  background-color: #0E1E5B;
	  color: white;
	}
	</style>
<h1 name="ime_izdelka">{{izdelek}}</h1>		
<img src = {{slika}} alt = "slika">
<table is-fullwidth class="table" align = "center" id = "customers" >
			
  <thead>
    <tr>
      <th>Trgovina</th>
	  <th>Cena</th>
      
	  </tr>

  </thead>
  <tbody>
	
	<tr>
	{% for trgovina,cena in zip:%}
    <td>{{trgovina}}</a></td>
	<td>{{cena}}</a></td>

	</tr> 
     {% endfor %}
	
	</tbody>
</table>

<button type="button">DODAJ V KOŠARICO!</button>
<form action="/button">
	<label for="fname">Količina:</label><br>
	<label abc="izd">{{izdelek}}</label>
	<input type="int" id="fname" name="kolicina" value=1><br>
  
	<input type="submit" value="Dodaj v kosarico">
  </form> 
{% endblock %}