{% extends 'osnova_spletnega_vmesnika.html' %} 
{% block main %}
<style>
	#customers {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	#customers td, #customers th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}
	
	#customers tr:nth-child(even){background-color: #f2f2f2;}
	
	#customers tr:hover {background-color: #ddd;}
	
	#customers th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	 
	  background-color: #0E1E5B;
	  color: white;
	}
	</style>
	
<table is-fullwidth class="table" align = "center" id = "customers" >
			
  <thead>
    <tr>
      <th>Izdelek</th>
      <th>Količina</th>
      <th>Spar</th>
      <th>Mercator</th>
      <th>Tuš</th>
	  </tr>

  </thead>
  <tbody>
	
	<tr>
	{% for izdelek,kolicina,cena1,cena2,cena3 in zip:%}
    <td>{{izdelek}}</a></td>
    <td>{{kolicina}}</a></td>
	<td>{{cena1}}</a></td>
	<td>{{cena2}}</a></td>
	<td>{{cena3}}</a></td>

	</tr> 
     {% endfor %}
	 <tr>
		<td></a></td>
		<td><b>Skupaj:</b></a></td>
		<td><b>{{skupne[0]}}</b></a></td>
		<td><b>{{skupne[1]}}</b></a></td>
		<td><b>{{skupne[2]}}</b></a></td>
	
		</tr> 
	
	</tbody>
</table>


<form action="/SV/buttonZbrisiKosarico">
	<input type="submit" value="Zbriši podatke iz košarice">
  </form> 
{% endblock %}