{% extends 'osnova_spletnega_vmesnika.html' %} 
{% block main %}

<form class="form-signin" method="post">
      <a href="/"></a>
      <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>
      <label for="vstaviUporabniskoIme" class="sr-only">Uporabniško ime</label>
      <input type="uporabniskoIme" id="vstaviUporabniskoIme" class="form-control" placeholder="Uporabnisko ime" name="uporabniskoIme" required autofocus>
      <label for="vstaviGeslo1" class="sr-only">Geslo</label>
      <input type="password" id="vstaviGeslo1" class="form-control" placeholder="Geslo" name="geslo1" required>
      <label for="vstaviGeslo2" class="sr-only">Ponovno vnesite geslo</label>
      <input type="password" id="vstaviGeslo2" class="form-control" placeholder="Ponovno vnesite geslo" name="geslo2" required>
      {%if napaka: %}
            <div class="alert alert-warning">{{napaka}}</div>
      {% endif %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registriraj se</button>

</form>

{% endblock %}