{% extends 'osnova_spletnega_vmesnika.html' %} 
{% block main %}
<style>
	h2 {
 		 font-size: 1.875em; /* 30px/16=1.875em */
	}
	#customers {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	#customers td, #customers th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}
	
	#customers tr:nth-child(even){background-color: #f2f2f2;}
	
	#customers tr:hover {background-color: #ddd;}
	
	#customers th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	 
	  background-color: #0E1E5B;
	  color: white;
	}
	</style>

<img src="/static/s1.jpg", alt="Izdelki" style="height: 200px" align = "down">
			

<table is-fullwidth class="table" align = "center" id = "customers" >
			
  <thead>
    <tr>
      <th>Izdelek</th>
    
      
	  </tr>




  </thead>
  <tbody>
	
	<tr>
	{% for izdelek in izdelki:%}
    <td><a href="/SV/izdelek/{{izdelek}}">{{izdelek}}</a></td>

	</tr> 
     {% endfor %}
	
	</tbody>
</table>
<h2>{{mesto}} |
	{{temp}} °C |
	{{vreme}}</h2> <br>

<img src = {{slika}} alt = "slika">


{% endblock %}